@model string

<a href="@Url.Action("Index","Home")" class="navbar-brand">
    @if (string.IsNullOrEmpty(Model))
    {
        <h2>E2E</h2>
    }
    else
    {
        <img id="logo" src="@Model" class="logo" />
    }
</a>
