@{
    ViewBag.Title = "Index";
}

@section scripts{

    <script>

        $(function () {
            reloadTable();
        });

        $(document).on('submit', '#SaveConfig', function (e) {
            e.preventDefault();
            callSubmitPage('@Url.Action("Configurations_Table", "Configurations")', this);
            return false;
        });

        function reloadTable() {
            callTable('@Url.Action("Configurations_Table", "Configurations")', true);
        }
    </script>
}

@section breadcrumb{
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
            <li class="breadcrumb-item active">Configurations</li>
        </ol>
    </nav>
}



<div class="row" id="datalist"></div>
