@{
    Layout = null;
}

<div class="modal-header">
    <h5 class="modal-title" id="modalTitle">Form</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="form-group">
        <label for="emails">Email</label>
        <textarea class="form-control" id="emails" name="emails"></textarea>
        <em class="small">Seperate email with semicolon symbol.<br /><b>Example:&nbsp;</b>mail1@thaiparker.co.th; mail2@thaiparker.co.th</em>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" onclick="doAction($('#emails').val())"><i class="fa fa-check"></i></button>
</div>