@{
    ViewBag.Title = "Home Page";
}

@section scripts{
    <script>

        $(function () {
            reloadTable();
        });

        function reloadTable() {
            callTable_NoSort('@Url.Action("Manual_Table", "Home")', true, 0).then(function () {

            });
        }

    </script>
}

@section breadcrumb{
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
        </ol>
    </nav>
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>


<div class="row" id="datalist"></div>