@model IEnumerable<E2E.Models.Tables.Manuals>

@{
    Layout = null;
}

<div class="col-12">
    <h5>Manual</h5>
    <div class="card">
        <div class="card-body">
            <ul class="list-unstyled">
                @foreach (var item in Model)
                {
                <li>
                    <small><a href="@item.Manual_Path" target="_blank" download="@item.Manual_Name">@item.Manual_Name</a></small>
                </li>
                }
            </ul>
        </div>
    </div>
</div>
