body {
    font-family: 'Roboto';
}

.fit {
    width: 1%;
    white-space: nowrap;
}

.img-table {
    max-height: 192px;
}

img#img-table {
    height: 108px;
    width: 192px;
}

#serviceInfo {
    min-height: 480px;
}

.PreLine {
    white-space: pre-line;
}

.logo {
    max-height: calc(3rem - .3125rem - .3125rem);
}

.section_video {
    object-fit: contain;
}

.row-card {
    margin-left: -20px;
    margin-right: -20px;
}

#btnToTop{
    right:0;
    transition:0.3s;
}
/* CSS code to define the "nav-hide" class */
nav.navbar { transition: top 0.5s ease; }

.disabled {
    pointer-events: none;
}

.text-prewrap {
    white-space: pre-wrap;
}


.dropdown-submenu {
    position: relative;
}

    .dropdown-submenu .dropdown-menu {
        top: 0;
        right: 100%;
    }

#qaList{
    left:100%;
    transition:ease-in-out 0.5s;
}
#qaList.active{
    left:0;
}

    #qaList #closeArea{
        opacity:0.4;
    }