.fit {
    width: 1%;
    white-space: nowrap;
}

.img-table {
    max-height: 192px;
}

img#img-table{
 height:108px;
 width:192px;
}

#serviceInfo {
    min-height: 640px;
}

.PreLine {
    white-space:pre-line;
}