@model string


    <a href="@Url.Action("Index","Home")" class="d-block navbar-brand m-0">
        @{
            if (string.IsNullOrEmpty(Model))
            {
                <h1>E2E</h1>
            }
            else
            {
                <img id="logo" src="@Model" class="img-thumbnail" alt="@Path.GetFileName(Model)" />
            }
        }
    </a>
