@model E2E.Models.Tables.System_Configurations

<a href="@Url.Action("Index","Home")" class="navbar-brand">
    @{
        if (Model.Configuration_Brand != null)
        {
            <img id="logo" src="@Model.Configuration_Brand" class="logo" alt="@Path.GetFileName(Model.Configuration_Brand)" />
        }
        else if (Model.SystemName != null)
        {
            @Html.DisplayFor(m=>m.SystemName)
        }
        else
        {
            <h2>E2E</h2>
        }
    }
</a>
