@model string


    <a href="@Url.Action("Index","Home")" class="d-block navbar-brand m-0 ml-3 col-lg-1">
        @{
            if (string.IsNullOrEmpty(Model))
            {
                <h2>E2E</h2>
            }
            else
            {
                <img id="logo" src="@Model" class="img-thumbnail logo" alt="@Path.GetFileName(Model)" />
            }
        }
    </a>
