@{
    ViewBag.Title = "All task";
}

@section scripts{

    <script src="~/Asset/Service.js"></script>

    <script>
        $(async function () {
           await reloadTable();

        });

        $(document).on('submit', '#SaveForm', function (e) {
            e.preventDefault();
            callSubmitModal('@Url.Action("Form", "Services")', this);
            return false;
        });

       async function reloadTable() {
           await callTable_NoSort('@Url.Action("AllTask_Table", "Services")');
        }
    </script>
}

@section breadcrumb{
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
            <li class="breadcrumb-item active">Department</li>
            <li class="breadcrumb-item active" aria-current="page">All task</li>
        </ol>
    </nav>
}

<div class="card shadow" id="datalist"></div>
