@{
    ViewBag.Title = "Chat bot";
}

@section scripts{
    <script>
        $(function () {
            reloadTable();

        });

        function reloadTable() {
            callData('@Url.Action("ChatHistory", "ChatBot")');
        }
    </script>
}

@section breadcrumb{
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Chat bot</li>
        </ol>
    </nav>
}

<div class="card shadow">
    @{
        if (ViewBag.IsAdmin)
        {
            <div class="card-header">
                <div class="d-flex">
                    <div class="mr-auto"></div>
                    <div class="ml-auto">
                        <a href="@Url.Action("Manage","ChatBot")" class="btn btn-primary">Manage</a>
                    </div>
                </div>
            </div>
        }
    }

    <div class="card-body">
        <div class="row" id="datalist">
        </div>
    </div>
</div>
