@{
    ViewBag.Title = "Chat bot";
    Layout = "~/Views/Shared/_LayoutFluid.cshtml";
}

@section scripts{
    <script src="~/Asset/Chatbot.js"></script>
    <script>
        $(function () {
            reloadTable();
        });

        function reloadTable(id=null,isGroup=false) {
            let urlQuestion = '@Url.Action("GetQuestionList", "ChatBot")'.concat('?id=', id);
            callData(urlQuestion, '#questionlistArea').then(function () {
                let urlAnswer = '@Url.Action("GetAnswer", "ChatBot")'
                if (id) {
                    urlAnswer = urlAnswer.concat('?id=', id);
                }
                callData(urlAnswer, '#answerArea');
            });
        }
    </script>
}

@section breadcrumb{
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Chat bot</li>
            <li class="breadcrumb-item active" aria-current="page">Internal</li>
        </ol>
    </nav>
}
<div class="row">
    <div class="col-md-4 mb-3">
        <div class="card shadow sticky-top" id="stickyBody">
            @if (ViewBag.IsAdmin)
            {
                <div class="card-header">
                    <div class="d-flex">
                        <div class="ml-auto">
                            <a href="@Url.Action("Manage","ChatBot")" class="btn btn-primary">Manage</a>
                        </div>
                    </div>
                </div>
            }
            <div class="card-body" id="questionlistArea"></div>
        </div>
    </div>
    <div class=" col-md-8">
        <div class="card shadow">
            <div class="card-body" id="answerArea"></div>
        </div>
    </div>
</div>
