@model E2E.Models.Tables.ChatGPT

@{
    Layout = null;
    decimal token = 0;
    if (Model != null)
    {
        token = Model.TokenUsage;
    }
}

@using (Html.BeginForm("", "", FormMethod.Post, new { id = "RequestForm", name = "RequestForm" }))
{
    <div class="d-flex justify-content-between">
        <a href="javascript:confirmAndPerformAjaxRequest('@Url.Action("OpenAI_ClearConversation", "ChatBot")','reloadPage')"><small>Clear conversations</small></a>
        <div><span class="text-info">Tokens&nbsp;usage:&nbsp;</span><h5 class="d-inline"><span id="totalToken">@token.ToString("N0")</span>/<span id="maxToken"></span></h5></div>
    </div>
    <div class="form-group textarea-with-button w-100">
        <textarea class="form-control" id="question" name="question" rows="3" placeholder="Enter your request"></textarea>
        <button class="btn btn-success button-inside-textarea" type="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
    </div>
}
