@{
    ViewBag.Title = "OpenAI";
}

@section breadcrumb{
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Chat bot</li>
            <li class="breadcrumb-item active" aria-current="page">External</li>
        </ol>
    </nav>
}

<div class="card mb-3">
</div>
<div class="card fixed-bottom">
</div>
