@model List<E2E.Models.Tables.ChatGPTHistory>

@{
    Layout = null;
}

@if (Model.Count == 0)
{
    <div class="jumbotron jumbotron-fluid" id="emptyChat">
        <div class="blockquote text-center">
            <h2>ChatGPT</h2>
            <a href="https://openai.com/" target="_blank" class="blockquote-footer">Credit by https://openai.com/</a>
        </div>
        <p class="text-center">
            <b>Welcome to TP external chatbot interface</b><br />
            <span>You can instantly start a conversation between you and ChatGPT.</span>
        </p>
    </div>
}

<ul class="list-group" id="histories">
    @foreach (var item in Model)
    {
        if (item.Role != "user")
        {
            <li class="list-group-item bg-light">

                <div class="row">
                    <div class="col-2 col-md-1 text-center">
                        <i class="fa fa-android fa-2x"></i>
                    </div>
                    <div class="col-10 col-md-11">

                        <p class="text-prewrap text-break copyText">@item.Content</p>
                        <div class="text-right"><cite class="small mt-3">@item.Create</cite></div>
                    </div>
                </div>
            </li>
        }
        else
        {
            <li class="list-group-item">
                <div class="row">
                    <div class="col-2 col-md-1 text-center">
                        <i class="fa fa-user fa-2x"></i>
                    </div>
                    <div class="col-10 col-md-11">
                        <p class="text-prewrap text-break">@item.Content</p>
                        <div class="text-right"><cite class="small mt-3">@item.Create</cite></div>
                    </div>
                </div>
            </li>
        }
    }
</ul>
