@{
    ViewBag.Title = "Categories";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
    <script>

        $(function () {
            reloadTable();
        });

        $(document).on('submit', '#SaveCategories', function (e) {
            e.preventDefault();
            callSubmitModal('@Url.Action("Categories_Create", "Masters")',this);
            return false;
        });

        function reloadTable() {

            callTable('@Url.Action("Categories_Table", "Masters")', true, true, 1);

        }


    </script>
}

@section breadcrumb{
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
            <li class="breadcrumb-item ">Master</li>
            <li class="breadcrumb-item active">Categories</li>
        </ol>
    </nav>
}


<div class="card shadow">
    <div class="card-header">
        <div class="d-flex">
            <div class="mr-auto"></div>
            <div class="ml-auto">
                <button type="button" onclick="callModal('@Url.Action("Categories_Create","Masters")')" class="btn btn-primary"><i class="fa fa-plus"></i></button>

            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row" id="datalist">
        </div>
    </div>
</div>


