@{
    ViewBag.Title = "DeleteWrongData";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DeleteWrongData</h2>

@using (Html.BeginForm("DeleteWrongData", "Masters", FormMethod.Post))
{
<div class="form-group">
    <label for="date">Date</label>
    <input type="date" id="date" name="date" required />
</div>
<button type="submit" class="btn btn-primary">Submit</button>
}