@{
    ViewBag.Title = "Grades";
}

@section scripts{

    <script>
        $(function () {
            callTable_Normal('@Url.Action("Grades_Table", "Masters")');
        });
    </script>
}

@section breadcrumb{
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
            <li class="breadcrumb-item active">Master</li>
            <li class="breadcrumb-item active" aria-current="page">Grade</li>
        </ol>
    </nav>
}

<div class="card shadow">
    <div class="card-header">
        <h2 class="card-title">Grade</h2>
    </div>
    <div class="card-body">
        <div class="table-responsive" id="datalist">
        </div>
    </div>
</div>
