@{
    ViewBag.Title = "Plants";
}

@section scripts{
    <script src="~/Asset/Master.min.js"></script>
    <script>
        $(function () {
            reloadTable();

        });

        function reloadTable() {
            callTable('@Url.Action("Plants_Table", "Masters")', true, true, [1,4]);
        }

        $(document).on('submit', '#SaveForm', function (e) {
            e.preventDefault();
            callSubmitModal('@Url.Action("Plants_Form", "Masters")', this);
            return false;
        });
    </script>
}

@section breadcrumb{
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
            <li class="breadcrumb-item active">Master</li>
            <li class="breadcrumb-item active" aria-current="page">Plants</li>
        </ol>
    </nav>
}

<div class="card shadow">
    <div class="card-header">
        <div class="d-flex">
            <div class="mr-auto"></div>
            <div class="ml-auto">
                <button class="btn btn-primary" onclick="callModal('@Url.Action("Plants_Form","Masters")')"><i class="fa fa-plus"></i></button>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row" id="datalist">
        </div>
    </div>
</div>
