@{
    ViewBag.Title = "Processes";
}

@section scripts{
    <script src="~/Asset/Master.js"></script>
    <script>
        $(function () {
            reloadTable();

        });

        $(document).on('submit', '#SaveForm', function (e) {
            e.preventDefault();
            callSubmitModal('@Url.Action("Processes_Form", "Masters")', this);
            return false;
        });

        function reloadTable() {
            callTable('@Url.Action("Processes_Table", "Masters")', true, true, [1,7]);
        }
    </script>
}

@section breadcrumb{
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
            <li class="breadcrumb-item active">Master</li>
            <li class="breadcrumb-item active" aria-current="page">Processes</li>
        </ol>
    </nav>
}

<div class="card shadow">
    <div class="card-header">
        <h2 class="card-title">Processes</h2>
    </div>
    <div class="card-body">
        <div class="table-responsive" id="datalist">
        </div>
    </div>
</div>
