
@{
    ViewBag.Title = "Sections";
}

@section scripts{
    <script src="~/Asset/Master.min.js"></script>
    <script>
        $(function () {
            reloadTable();

        });

        $(document).on('submit','#SaveForm',  function () {
            callSubmitModal('@Url.Action("Sections_Form", "Masters")');
            return false;
        });

        function reloadTable() {
            callTable('@Url.Action("Sections_Table", "Masters")', true, true, 1);
        }
    </script>
}

@section breadcrumb{
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
            <li class="breadcrumb-item active">Master</li>
            <li class="breadcrumb-item active" aria-current="page">Sections</li>
        </ol>
    </nav>
}

<div class="card shadow">
    <div class="card-header">
        <div class="d-flex">
            <div class="mr-auto"></div>
            <div class="ml-auto">
                <button class="btn btn-secondary" onclick="callModalSection('@Url.Action("Sections_Form","Masters")')"><i class="fa fa-plus"></i></button>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row" id="datalist">
        </div>
    </div>
</div>