@model IEnumerable<E2E.Models.ClsOpenAI>

@{
    ViewBag.Title = "Question";
    Layout = null;
}

<ul id="chatHistory" class="list-unstyled">
    @for (int i = 0; i < Model.Count(); i++)
    {
        <li id="qa-@i">
            <ul class="list-unstyled">
                <li class="text-right pl-5 p-2">
                    <small>@Html.DisplayFor(m => Model.ElementAt(i).QuestionDateTime)</small>
                    <p class="text-prewrap rounded p-2 mt-1 text-white bg-info">@Html.DisplayFor(m => Model.ElementAt(i).Question)</p>
                </li>
                <li class="pr-5">
                    <small>@Html.DisplayFor(m => Model.ElementAt(i).AnswerDateTime)</small>
                    <p class="text-prewrap rounded p-2 mt-1 bg-light ">@Html.DisplayFor(m => Model.ElementAt(i).Answer)</p>
                </li>
            </ul>
        </li>
    }
</ul>
