
@{
    ViewBag.Title = "Index";
}


@section scripts{

    <script>

        $(function () {
            reloadTable();

        });


        $(document).on('submit', '#SaveManual', function (e) {
            e.preventDefault();
            callSubmitPage('@Url.Action("Manuals_Table", "Manuals")', this);
            return false;
        });

        function reloadTable() {

            callTable('@Url.Action("Manuals_Table", "Manuals")', true,false, 0).then(function () {

            });
        }
    </script>
}

@section breadcrumb{
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
            <li class="breadcrumb-item active">Manual</li>
        </ol>
    </nav>
}



<div class="row" id="datalist"></div>